.menu{
  flex: 1;
  padding-inline: 40px;
  padding-block-start: 30px;
}

.buscador__top__area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .buscador__text__field{
} */

.buscador__text__field input{
  padding: 5px 15px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid #828282;
}

.buscador__user__name{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buscador__user__name p{
  color: #4F4F4F;
}



.main__artist{
  height: 250px;
  margin: 40px 0px;
  border: 1px solid red;
}

.busqueda__resultados{
  padding-top: 20px;
  height: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.item__busqueda{
  border: 1px solid red;
}